{% extends 'dashboard.html' %}

{% block title %}Uploaded File List{% endblock %}

{% block container %}
<div class="content">
<div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <h1>{{ message }}</h1>
    {% endfor %}
</ul>
{% endif %}
</div>
    <h3>Uploaded File List</h3>
	{% if documents %}
        <table class="table table-condensed table-hover table-bordered">
        <tr>
        <td>File Name</td>
        <td> Acess To</td>
        <td> Delete File</td>
        </tr>
        {% for document in documents %}
            <tr>
            <td><a href="{{ document.uploaded_file_url}}" title="{{document.description}}">{{ document.filename }}</a></td>
            <td>{% if user.is_authenticated %}{% for username in document.allowed_users.all%} <div class="grid">{{username}}</div>{% endfor %}{% endif %}</td>
            <td>
            {% if user.is_superuser %} 
            <a href="{% url 'delete' document.id %} " class="glyphicon glyphicon-remove" title="Delete File"></a> {% endif %}</td>
            </tr>
        {% endfor %}

        </table>
        <ul class="pagination">
   
        <ul class="pager">
        {% if documents.has_previous %}
             <li> <a href="?page={{ documents.previous_page_number }}">previous</a></li>
        {% endif %}
        <span class="current">
            Page {{ documents.number }} of {{ documents.paginator.num_pages }}.
        </span>
  {% if documents.has_next %}
       <li>     <a href="?page={{ documents.next_page_number }}">next</a></li>
        {% endif %}
</ul>
           

        

       

</ul>

    {% else %}
        <p>No documents.</p>
    {% endif %}
</div>


{% endblock %}